<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Predicción de Ventas</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="contenedor">

        <h1>Predicción de Ventas</h1>

        <form action="/predecir" method="POST">

            <input
                type="number"
                name="publicidad"
                placeholder="Ingrese publicidad"
                required
            >

            <button type="submit">
                Predecir
            </button>

        </form>

        {% if resultado %}

            <h2>
                Ventas estimadas: {{ resultado }}
            </h2>

        {% endif %}

    </div>

</body>

</html>